/* 결제 정보 */
.user-payment-info-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 2px solid #2C348F;
}

.header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.payment-info {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}


.info-row {
  display: flex;
  justify-content: space-between;
  /* 양쪽 끝에 배치 */
  margin: 10px 0;
  /* 각 줄 사이에 여백 추가 */
}

.info-row1 {
  margin-left: 5px;
}

.info-row2 {
  margin-left: 12px;
}

.left {
  text-align: left;
  /* 왼쪽 정렬 */
  flex: 1;
  /* 남은 공간 차지 */
}

.right {
  text-align: right;
  /* 오른쪽 정렬 */
  flex: 1;
  /* 남은 공간 차지 */
}