.favorite-list {
    max-width: 360px;
    width: 100%;
    padding: 20px 20px 50px 20px;
    background-color: #f5f5f5;
    min-height: 900px;
}

.title {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
}

.category-buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr); /* First row with 5 items */
    grid-template-rows: auto auto; /* Two rows */
    margin-bottom: 15px;
    gap: 7px;
}

.category-button {
    background-color: #f7f7f7;
    border: none;
    border-radius: 20px;
    padding: 5px;
    margin: 0 5px;
    font-size: 0.5em;
    color: #333;
    cursor: pointer;
    width: 59px;
}

.category-button.active {
    background-color: #ffcad4;
    color: #ffffff;
}

.category-button.inactive {
    background-color: #e0e0e0; /* 비활성 버튼 색상 */
    color: #888; /* 비활성 버튼 글자 색상 */
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.likecard {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* 위치 속성 추가 */
    z-index: 0;
}

.card-image {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin-right: 15px;
}

.category {
    font-size: 0.8em;
    color: #ff7e87;
    margin-bottom: 5px;
}

.card-main {
    display: flex; /* 수정된 부분 */
}

.card-content {
    flex: 1;
    text-align: right;
}

.store {
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px 0;
    text-align: right;
}

.rating-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
    float: right;
}

.rating {
    font-size: 1em;
    color: #ffcc00;
    margin-right: 10px;
}

.card-content > p,
.reviews {
    font-size: 0.9em;
    color: #888888;
}

.no-activate .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); /* 투명도 조절 */
    z-index: 1;
    border-radius: 8px; /* 카드 모서리와 일치하도록 설정 */
}

.card {
    position: relative;
    z-index: 2; /* 오버레이 아래에 위치 */
}
