@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

@font-face {
  font-family: 'ghanachoco';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* ------------------------- */
.user-main-list-container:hover {
 box-shadow: 1px -1px 12px 0px rgba(0, 0, 0, 0.1);
 cursor: pointer;
}

/* --------------------------- */

.logo {
  margin: 10px;
}

.user-top-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

/* 상단 버튼 디자인 */
.user-top-btns {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.user-top-btns>button {
  height: 30px;
  width: 50px;
  font-size: 25px;
  background-color: #fff;
  border: none;

}



.user-main-content {
  margin-bottom: 30px;
  position: relative;
}


.user-main-content2 {
  margin-bottom: 40px;
  /* border : 1px solid blue; */
}



.last-content {
  margin-bottom: 100px;
  position: relative;
}

.user-main-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
}

.user-main-content>.bi {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 50px;
  left: 155px;
}


/* ----------------------------------------- */

/* 검색바 */
.store-search-bar {
  width: 100%;
  margin: 10px;
  /* margin: 30px 30px 50px 30px; */
  border: 2px solid #2C348F;
  border-radius: 20px;
  text-align: center;
  display: flex;
  padding: 0px 15px;
  align-items: baseline;
  background-color: #ffffff;
}

.store-search-bar img {
  width: 20px;
}

.store-search-bar>input {
  font-size: 18px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #ffffff;
}


.store-search-bar>.bi {
  font-size: 20px;
  margin: 10px;
}


/* 카테고리  */
.user-category-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 20px; 
}

.user-category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(20% - 16px); /* 한 줄에 5개 아이템을 배치 */
  max-width: 80px; /* 아이템의 최대 너비 설정 */
}

.user-category-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
}

.user-category-item p {
  font-size: 14px;
  color: #333;
}


/* 장소 추천 */
.user-location-content {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0 20px 30px 20px;
}

.user-location-item {
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.user-location-item:hover {
  background-color: rgb(115, 139, 227);
  color: white;
}





/*  */

.user-main-list-wrap {
  display: flex;
  overflow-x: auto;
}

.user-main-list-container {
  width: 185px;
  background-color: white;
  margin: 5px;
  flex-shrink: 0;
  border: none;
  box-shadow: none;
}

.event-container {
  width: 100%;
  background-color: white;
  margin: 0;
  flex-shrink: 0;
  border: none;
  box-shadow: none;
}

.user-category-menu-img {
  width: 100%;
  height: 185px;
  gap: 3%;
  position: relative;
}

.event-img {
  width: 100%;
  height: 300px;
  gap: 3%;
  position: relative;
}

.user-category-menu-img>.bookmark-btn {
  position: absolute;
  font-size: 20px;
  color: #ff4d4d;
  top: 5px;
  left: 150px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.user-category-menu img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 10px;
}

.event-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 0;
}

.store-title-1 {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

.store-category {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.store-distance {
  font-size: 16px;
  text-align: center;
  color: #bbb;
}

.store-title-2 {
  font-size: 18px;
  margin-top: 5px;
}

.store-review {
  color: #FFD700;
  font-size: 16px;
}

.store-option {
  font-size: 12px;
}

.event-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(255, 0, 0, 0.7);
  /* background-color: rgba(0, 0, 139, 0.7);  */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* 모바일 스크롤 스타일 */
.user-main-list-wrap::-webkit-scrollbar {
  height: 0px;
}

.user-main-list-wrap::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* 모바일 환경 */
@media (max-width: 767px) {

  /* PC 버튼 숨김 */
  .nav-button {
    display: none !important;
  }
}

/* PC 환경 */
@media (min-width: 768px) {

  /* 스크롤바 감추기 */
  .user-main-list-wrap {
    overflow-x: hidden;
  }

  /* PC 환경에서 좌우 버튼 추가 */
  .nav-button {
    position: absolute;
    /* 부모 요소 내에서 고정 */
    top: 45%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }

  .nav-button.left {
    left: 0;
    /* 부모 요소의 왼쪽에 고정 */
  }

  .nav-button.right {
    right: 0;
    /* 부모 요소의 오른쪽에 고정 */
  }
}

/* ---------------------------------------------------- */

.user-main-list-wrap3-header {
  text-align: center;
  margin: 20px 0;
}

.user-main-list-wrap3-header > h3 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
}


.user-main-list-wrap3 {
  padding: 20px;
  position: relative;
}

.user-main-list-sub-content {
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 2px solid #2C348F;
}

.user-main-list-sub-content>.bi {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 20px;
  left: 510px;
}

.sub-content-img-box {
  height: 150px;
  border-radius: 10px;
  margin-bottom: 20px;

}

.sub-content-img-box img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover
}


/* 가게명 */
.sub-content-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
}

/* 가게 카테고리 */
.sub-content-category {
  margin-top: 5px;
  font-size: 12px;  
}

/* 영업시간 */
.sub-content-date {
  margin: 5px 10px 0 0;
  font-size: 12px;
}

.sub-content-date img {
  width: 16px;
}

.bi-clock-fill {
  margin-right: 5px;
}

/* 별점 */
.sub-content-review {
  font-size: 16px;
  margin-left: 5px;
}

.sub-content-review>span:nth-child(1) {
  color: #FFD700;
}

.sub-content-review>span:nth-child(2) {
  color: #999;
}

/* 위치 */
.sub-content-location {
  margin: 0 10px 5px 0;
  font-size: 12px;
}

.sub-content-location img {
  width: 16px;
}

.bi-geo-alt-fill {
  margin-right: 5px;
}

/* 가격 */
.sub-content-price {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

/* 해시태그(메뉴명) */
.sub-content-option-container img {
  width: 12px;
}

.sub-content-option {
  font-size: 16px;
}



/* 더 보기 버튼 */
.load-more-btn-wrap {
  display: flex;
  justify-content: center;
  margin: 0 0 100px 0;
}

.load-more-btn {
  background-color: rgba(44, 52, 143, 0.16);
  color: #000;
  border: none;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
}

.load-more-btn:hover {
  background-color: rgba(44, 52, 143, 0.30);
}



/* 광고 인디케이터 스타일 */
.ad-indicator-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.ad-indicator {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc; /* 기본 색상 */
  border-radius: 50%;
}

.ad-indicator.active {
  background-color: #007bff; /* 활성화된 인디케이터의 색상 */
}