
.reviews-container {
    /*background-color: #f0f4f8;*/
    background-color: #edededa1;
    max-width: 500px;
    border-radius: 8px;
    padding: 0 15px;
    overflow-y: auto;
}


.header {
    margin-bottom: 20px;
}

.header h2 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 20px;
    margin-top: 1px;
}

.review-card {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
}

.store-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.review-content {
    flex: 1;
}

.review-space {
    position: relative;
}

.store-name {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 1px;
    color: #333;
}

.review-date {
    font-size: 11px;
    color: #999;
    margin-bottom: 10px;
    position: absolute;
    top: -20%;
    left: 75%;
}

.rating span {
    color: #fd8517;
}

.review-text {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.review-images {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.review-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.additional-images {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6); /* 어두운 배경 */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.review-images img {
    width: 60px;
    height: 60px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: pointer;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.review-service {
    font-size: 13px;
    color: #676767;
    margin: 0;
}

.rating {
    margin-top: 10px;
}