.address-page {
    padding: 20px;
}

.add-address-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FE8517;
    color: white;
    border: none;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
}

.address-list {
    list-style: none;
    padding: 0;
}

.address-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 8px;
}

.address-item.default {
    border-color: #FE8517;
}

.address-info {
    flex: 1;
}

.address-name {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.address-name > .bi {
    color: #FE8517;
    font-size: 20px;
}


.default-label {
    color: #FE8517;
    font-weight: bold;
    margin-left: 5px;
    font-size: 14px;
}

.address-actions {
    display: flex;
    gap: 10px;
}

.select-btn {
    background-color: white;
    border: 1px solid #FE8517;
    color: #FE8517;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.select-btn.selected {
    color: #333;
    border-color: #333;
}

.delete-btn {
    background-color: white;
    border: 1px solid #D9534F;
    color: #D9534F;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
