@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

@font-face {
font-family: 'ghanachoco';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Pretendard-Regular';
src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'TTTtangsbudaejjigaeB';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
font-weight: 700;
font-style: normal;
}

* {
    box-sizing: border-box;
}

/*body {*/
/*    margin: 0;*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    color: #333;*/
/*    background-color: #f9f9f9;*/
/*}*/

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

/*.admin-store-info-container {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*    background-color: white;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);*/
/*}*/

.store-img-box {
    display: flex;
    overflow-x: auto;
    height: 210px;
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
}

.store-image {
    width: 180px;
    height: 180px;
    margin-right: 10px;
    flex-shrink: 0;
}

.store-image img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.form-cont {
    border-top: 2px solid #ddd;
}

.form-group {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    align-items: center;
}

.form-group:last-child {
    border-bottom: 2px solid #ddd;
}

.form-group label {
    flex: 1;
    font-weight: 500;
    color: #555;
    font-size: 16px;
    padding-left: 20px;
}

.input-field {
    flex: 2;
    padding-left: 20px;
}

.input-field > input,
.btn-group > input{
    text-align: left;
    border: 1px solid #ddd;
    background-color: #fafafa;
    color: #666;
    font-size: 16px;
    width: 90%;
    padding: 8px 12px;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 5px;
}

.input-field > input:disabled{
    border: none;
    background-color: white;
}

.input-field > input:focus{
    border-color: #007bff;
}

.password{
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-pw {
    width: 90%;
}

.small-text {
    font-size: 12px;
    color: red;
    padding-left: 5px;
    float: left;
}

.change-pw {
    float: right;
    height: 25px;
}

.btn-box{
    text-align: center;
}

.modify-btn {
    width: 15%;
    height: 40px;
    margin: 30px auto;
    padding: 0;
    color: white;
    background-color: #007bff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.modify-btn:hover {
    background-color: #0056b3;
}

.cancel-btn {
    background-color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.btn-group {
    display: flex;
    gap: 2%;
    width: 79%;
    margin-bottom: 5px;
}

.btn-postcode {
    padding: 5px;
    background-color: #2c2c2c;
    color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    width: 100px; height: 37px;
}

/*얜 반응형 css라는데 일단 냅둬봄*/
@media (max-width: 768px) {
    .admin-store-info-container {
        padding: 15px;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        padding-left: 0;
        margin-bottom: 10px;
    }

    .modify-btn {
        width: 50%;
    }

    .input-field > input {
        width: 100%;
    }
}
