.main-content {
    margin: 50px;
  }
  

.date-picker {
  border: 1px solid #ddd;
    border-radius: 30px;
    padding: 10px;
}

  .main-content-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .main-btns {
    text-align: right;
    margin-bottom: 30px;
  }
  
  
  .main-contents {
    border-radius: 10px;
  }
  
  
  .btn-st {
    border: 1px solid #1d2830;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    background-color: #2e3133;
  
  }


  .main-slot {
    width: 100%;
  }

  .main-slot2 {
    display: flex;
    gap: 20px;
  }
  .main-slot-input {
    
    display: flex;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 10px;
    gap: 10px;
    color : #222222;
    font-size: 15px;
  }

  .main-slot-input  > input ,   .main-slot-input  > select {
    border: none;
    background-color: #fff;
  }

  .main-slot-title {
    font-size : 25px;
    font-weight: bold;
  }
  
  /* ------------------------------------------ */
  
  .management-container {
    /* margin: 40px; */
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    /* background-color: #f9f9f9;*/
  }
  
  .management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .top-controls input[type="text"] {
    padding: 5px;
    margin-right: 10px;
  }
  
  .top-controls select {
    padding: 5px;
    margin-right: 10px;
  }
  
  .add-btn,
  .report-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .date-box {
     border : 1px solid #ddd;
     border-radius: 15px;
     padding: 20px;
     margin-bottom: 30px;
  }
  


  .date-box {
    border : 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
 }
 
 .date-box > div {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  gap: 6%;
  justify-content: space-around;

 }

  /*
  .add-btn {
    background-color: #007bff;
    color: white;
  }
  
  .report-btn {
    background-color: #28a745;
    color: white;
  } */
  
  .management-table {
    width: 100%;
    /* border: 1px solid #ddd; */
    border-collapse: collapse;
  
  }
  
  .management-table thead {
    background-color: #f5f5f5;
  }
  
  .management-table th,
  .management-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .management-table th {
    font-weight: bold;
  }
  
  /* .management-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  .flight-btn {
    background-color: #4f4f4f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10%;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .management-table tbody tr td img {
    border-radius: 100%;
    width: 38px;
  }
  
  
  /* .management-table tbody tr td:nth-child(2)  {
    display: flex;
    gap: 5%;
    align-items: center;
  
  } */
  
  .material-symbols-outlined {
    font-size: 20px;
  }
  
  .management-table thead tr th>div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  
  
  /* 상단 예약 관리, 캘린더 리스트 버튼 */
  .main-content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .icon-buttons {
    display: flex;
    gap: 10px;
  }
  
  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .icon-button:hover {
    color: #007BFF;
  }
  
  
  .main-content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .icon-buttons {
    display: flex;
    gap: 10px;
  }
  
  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .icon-button:hover {
    color: #007BFF;
  }
  
  
  
  
  .calendar-and-reservation-info {
    display: flex;
    /* 가로로 배치 */
    margin-top: 20px;
    /* 위쪽 간격 */
  }
  
  .custom-calendar {
    flex: 3;
    /* 가변 너비 */
    margin-right: 20px;
    /* 캘린더와 예약 정보 사이 간격 */
  }
  
  .reservation-info-container {
    flex: 1;
    /* 가변 너비 */
    border: 1px solid #ccc;
    /* 테두리 */
    padding: 10px;
    /* 안쪽 여백 */
    background-color: #f9f9f9;
    /* 배경 색상 */
  }
  
  .reserve-content-text-box {
    /* border : 1px solid red; */
    overflow: auto;
    height: 84px;
  }
  
  .reserve-container {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px 0 #eee, 0 3px 5px 0 #eee;
    border-radius: 10px;
    display: flex;
    /* margin: 2% 10%; */
    width: 100%;
    margin-bottom: 30px;
    height: 200px;
  }
  
  .reserve-img {
    margin: 20px;
    width: 40%;
    height: 80%;
    position: relative;
  }
  
  .reserve-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  
  }
  
  .reserve-content{
    /* border : 1px solid red; */
    width: 100%;
    margin: 30px 20px;
    margin-right: 30px;
  
  }
  .reserve-content-text {
    font-size: 17px;
  }
  .reserve-content-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
  }
  
  .reserve-content-title {
    margin-bottom: 10px;
}


.reserve-content-text > textarea {
  width: 100%;
  overflow: auto;

  resize: none;
  font-size: 20px;
  font-family: 'Pretendard-Regular';
  border: 1px solid #ddd;
  border-radius: 3px;
}

.btn-imgChg {
  position: absolute;
  top:0;
  left: 0;

}


.reserve-content-title-name > input{
    width: 100%;
    font-size: 20px;
     font-family: 'Pretendard-Regular';
     border: 1px solid #ddd;
     border-radius: 3px;
  }

  .reserve-content-title-price > input{
    text-align: right;

    width: 120px;
    font-size: 20px;
    font-family: 'Pretendard-Regular';
    border: 1px solid #ddd;
    border-radius: 3px;
  }

  
  
  /* 캘린더 부분 */
  .custom-calendar {
    max-width: 65%;
    /* 캘린더 너비 */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    /* 캘린더 전체 폰트 크기 */
    height: auto;
    /* 고정 높이 제거 */
  }
  
  .month {
    margin-bottom: 20px;
    /* 각 달 사이의 간격 */
  }
  
  /* 캘린더 전체 크기 조정 */
  .react-calendar {
    width: 100%;
    /* 캘린더의 너비 설정 */
  }
  
  /* 날짜 타일 스타일 조정 */
  .react-calendar__tile {
    width: 50px;
    height: 100px;
    padding: 10px;
    /* 날짜 타일 내부 여백 */
    display: flex;
    /* flexbox 사용 */
    justify-content: flex-start;
    /* 좌측 정렬 */
    align-items: flex-start;
    /* 상단 정렬 */
  }
  
  .react-calendar__tile--active {
    background: white;
    color: black;
  }
  
  .react-calendar__tile--active:enabled:hover {
    background: #e6e6e6;
  }
  
  .react-calendar__tile:enabled:hover {
    background-color: #e6e6e6;
  }
  
  .react-calendar__tile--active:enabled:focus {
    background: white;
  }
  
  .react-calendar__tile:enabled:focus {
    background-color: white;
  }
  
  /* 선택된 날짜의 스타일 */
  .react-calendar__tile.selected-date {
    background-color: #add8e6 !important;
    color: black;
    /* 선택된 날짜의 글자 색상 */
  }
  
  /* 날짜 내용 스타일 조정 */
  .react-calendar__tile div {
    margin: 0;
    /* 기본 여백 제거 */
  }
  
  /* 현재 날짜 강조 */
  .react-calendar__tile--now {
    background-color: #e6f7ff;
  }
  
  /* 날짜 타일 호버 시 스타일 */
  .react-calendar__tile:hover {
    background-color: #cce5ff;
  }
  
  .equal-slot-count {
    background-color: #ddd; /* 기본 배경색 */
}


  /* 요일 */
  .react-calendar__month-view__weekdays__weekday {
    padding: 20px 0 20px 7px;
    text-align: left;
  }
  
  .react-calendar__month-view__weekdays__weekday:nth-child(1) {
    padding: 20px 0 20px 7px;
    text-align: left;
    color: red;
  }
  
  /* 달력 숫자일 색상 */
  .sunday {
    color: red;
  }
  
  .saturday {
    color: black;
  }
  
  
  
  
  /* 예약 리스트 스타일 */
  .reservation-list {
    margin-top: 20px;
    font-size: 12px;
    list-style: none;
    padding-left: 0;
    background-color: #f9f9f9;
    /* 배경색 추가 */
    border-radius: 5px;
    /* 둥근 모서리 */
    border: 1px solid #e0e0e0;
    /* 테두리 추가 */
    max-height: 150px;
    /* 최대 높이 설정 */
  }
  
  .reservation-list li {
    font-size : 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 6px;
    /* 내부 여백 추가 */
    transition: background-color 0.3s;
    /* 배경색 전환 효과 추가 */
    /* width: 50px;
    height: 50px; */
    height: 60px;
  }
  

.slot-num-status {
    display: flex;

}
.slot-num-status > input{
    width: 50%;
    
}

  /* .reservation-list li:hover {
    background-color: #e6f7ff;
    cursor: pointer;
    border-left: 4px solid #007bff;
  }
   */
  
  
  /* 캘린더 옆 예약정보 리스트 */
  .reservation-info-container {
    background-color: #f7f9fc;
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  }
  
  /* 예약정보 */
  .reservation-info-container h3 {
    font-size: 24px;
    color: #333; 
  }
  
  /* 날짜 */
  .reservation-info-container h4 {
    font-size: 18px; 
    color: #007bff; 
    border-bottom: 2px solid #007bff; 
    padding-bottom: 5px; 
  }
  
  /* 리스트 */
  .reservation-info-container ul {
    list-style-type: none; 
    padding-left: 0; 
    margin-bottom: 35px;
  }
  
  .reservation-info-container li {
    background-color: #fff; /* 항목 배경색 */
    margin: 5px 0; /* 항목 사이 여백 */
    padding: 10px; /* 항목 내부 여백 */
    border-radius: 5px; /* 항목 둥근 모서리 */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* 항목 그림자 */
    transition: transform 0.2s; /* 애니메이션 효과 */
  }
  
  .reservation-info-container li:hover {
    transform: translateY(-2px); /* 호버 시 약간의 상승 효과 */
    background-color: #e9f5ff; /* 호버 시 배경색 변화 */
    cursor: pointer; /* 커서 포인터로 변경 */
  }
  