@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@font-face {
font-family: 'ghanachoco';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Pretendard-Regular';
src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
}
/* 로그인 메인 글씨체 */
@font-face {
font-family: 'Tenada';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'PartialSansKR-Regular';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Cafe24ClassicType-Regular';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: 'FlightSans-Title';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.black-han-sans-regular {
    font-family: "Black Han Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    font-family: 'Pretendard-Regular';
    margin: 0px;
    padding: 0px;
    background-color: #e7eaef69;
}

.parts {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}
.part1 {
/* border:1px solid red; */
    width: 100%;
    /* background-color: #2C348F; */
    /* background-color: #38414a; */

    position: relative;
}

.footer {
    font-size: 15px;
    /* display: flex; */
    /* margin-top: 100px; */
    position: absolute;
    bottom: 24px;
    text-align: center;
    color: #38414a;
    width: 100%;
}

.part1 .top-text {
    font-family: 'Tenada';
    padding: 50px;
    font-size: 70px;
}

.part1 .bottom-text {
    font-family: 'Tenada';
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 50px;
    font-size: 50px;
}

.part2 {
    display: flex;
    width: 100%;
    /* width: 50%; */
    /* border: 1px solid red; */
    /* background-color: #ddd; */
    /* background: rgb(151, 173, 255); */
    /* background-color: #e7eaef69; */
    align-items: center;
}

.login-box {
/* border : 1px solid red; */
}

/*.login-container*/
.part2 form{
    border : 1px solid #ddd;
    border-radius: 10px;
    padding: 50px 30px ;
    margin: 0 auto;
    width: 450px;
    /* margin-top: 10%; */
    text-align: center;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 2spx 5px rgba(0,0,0,0.22);
}


.login-title {
    font-family: "Black Han Sans", serif;
    font-family: "Black Han Sans", sans-serif;
    font-family: 'FlightSans-Title';
font-size: 30px;
font-weight: bold;
margin-bottom: 20px;

color : #38414a;;
    /* color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #94b6e9, #56c9ef, #33d8d7, #73e0a7, #bfdf77);
    font-family: 'ghanachoco';
    font-size: 45px; */
}

.login-title2 {
    font-size: 16px;
    color: #7b7b7b;
}

.login-title > img {
    width: 120px;
}
.login-box {
/* border : 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 30px 50px 30px 50px;
}

.login-box >input {
    height: 40px;
    padding: 0px 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

.find-msg {
    text-align: right;
    margin-bottom: 10px;
    font-size: 15px;
}

.find-msg > a {
    color: black;
    text-decoration: none;
}

.find-msg > a:hover {
    color: rgb(79, 109, 218);
}

.login-container> button {
/* background-color: #727272; */
    background:#38414a;

    border : 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #ddd;
}


.singup-msg > a {
    text-decoration: underline;
    font-size: 15px;
    color: black;
}

.singup-msg > a:hover {
    color: rgb(79, 109, 218);
}

.part1 > div {
    color : #fff;
    font-size: 30px;
}