@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.toggle-main {
    display: flex;
    right: 0;
    position: absolute;
}

.main-pick-info,
.main-count-info{
    border-right: 2px solid #ddd;
    padding: 3px 10px;
    border-radius: 3px;
}

.main-pick-info:hover,
.main-count-info:hover {
    cursor: pointer;
    color: white;
    background-color: #515B66;
}

.main-pick-info.active,
.main-count-info.active {
    color: white;
    background-color: #14202C;
}

.main-count-info{
    border: none;
}

h3 > .bi {
    padding-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead, tbody {
    display: table;
    width: 100%;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    font-size: 17px;
}

td {
    font-size: 15px;
}

.main-grid{
    display: grid;
    grid-template-columns: 35% 62%;
    gap: 10px;
}

.main-grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}


/*.schedule {*/
/*    display: grid;*/
/*    grid-template-columns: 40% 1fr;*/
/*    gap: 15px;*/
/*    margin-top: 80px;*/
/*}*/

.status-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.main-count{
    display: inline-block;
    margin-top: 45px;
}

.reservation-status {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto);
    padding: 15px;
}

.today-status {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.today-title {
    border: 2px solid #38414a;
    border-radius: 3px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: lighter;
    color: #38414a;
}

.today-status > .status-item {
    width: 25%;
    margin: 0;
}

.status-item {
    padding: 10px;
    flex: 1;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 55px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    background-color: #38414a;
    color: white;
}

.status-item > p{
    font-size: 20px;
    text-align: center;
}

.status-item p:nth-child(1) {
    font-weight: bold;
    font-size: larger;
}

.status-item .confirmed {
    color: #008500c0;
}

.total-summary {
    border: 1px solid #ddd;
}

.total-cont {
    display: flex;
    justify-content: space-between;

}

.total-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.date-search-box {
    margin: 20px 0 10px;
    overflow: hidden;
    padding-right: 5px;
}

.date-search-box > input {
    float: left;
}

.date-search-box > button {
    float: right;
}

.sales-search-box {
    padding: 10px;
}

.total-item p:nth-child(1) {
    font-weight: bold;
    font-size: x-large;
}




.today-booking2{
    max-height: 572px;
    overflow: hidden;
    padding: 0 20px;
}

.table-wrapper2 {
    max-height: 100%;
    overflow-y: auto;
    padding-right: 5px;
    scrollbar-width: thin;
}

.customer-info-container{
    background-color: #f2f2f2;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.customer-info {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2열 */
    gap: 40px;
}

.customer-group{
    display: grid;
    grid-template-columns: 100px 1fr; /* 첫 번째 열에 라벨, 두 번째 열에 입력칸 */
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.reservation-content > div, .customer-group > div{
    color: #999;
}

.option > p {
    color: black;
}

.customer-detail{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 245px;
}

.reservation-content{
    display: grid;
    grid-template-columns: 80px 1fr; /* 첫 번째 열에 라벨, 두 번째 열에 입력칸 */
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.reservation-option{
    display: grid;
    gap: 10px;
}
.option{
    display: grid;
    grid-template-columns: 0.8fr 1fr; /* 옵션 안에서 두 개의 요소를 같은 비율로 나눔 */
    gap: 10px;
}

.calendar-day-cell {
    cursor: pointer;
    transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.calendar-day-cell:hover {
    background-color: #c1daff; /* 원하는 색상 */
}

.calendar .fc-toolbar-title {
    font-size: 1.3rem; /* 제목 글씨 크기 조정 */
}
.calendar .fc-toolbar button {
    font-size: 0.7rem;
    padding: 0.2rem 0.2rem;
}



.customer-info-title{
    display: flex;
    position: relative;
    align-items: center;
}

.custom-checkbox {
    position: absolute;
    right: 0;
    font-size: 16px;
    color: #333;
    padding: 8px 12px;
    border-radius:36px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.custom-checkbox:hover {
    background-color: #e0e0e0;
}

.custom-checkbox.checked {
    background-color: #3788d8;
    color: #fff;
    font-weight: bold;
    cursor: default; /* 클릭 시 변경되지 않음 */
}

.custom-checkbox.checked::after {
    content: ' ✓';
    color: #fff;
    font-size: 16px;
}