

.main-content {
  margin: 50px;
}

.main-content-title{
  font-size : 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-title {
  font-size: 36px;
  font-weight: bold;
}


.main-btns{
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-top: 30px;
  gap: 5px;
   cursor: pointer;
}

.main-btns2{
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  /* margin-top: 30px; */
  gap: 5px;
   cursor: pointer;
}

.btn-ali {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     cursor: pointer;
}
.main-contents{
  border-radius: 10px;
  width: 100%;
}


 .btn-st {
  border: 1px solid #1d2830;
  color : #ffffff;
  font-weight: bold;
  border-radius: 3px;
  background-color: #2e3133;
 cursor: pointer;
}

.btn-modi {
  border: 1px solid #ddd;
  /* background-color: #1d2830; */
  width: 100%;
  height: 100px;
  border-radius: 3px;
  /* border: 2px solid #1d2830; */
  color: #2a2a2a;
  background: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
 
}





.btn-del {
  border: 2px solid #1d2830;
  color : #ffffff;
  font-weight: bold;
  background-color: #2e3133;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}


.btn-modi:hover {
  background-color: #3e3f470d;
}

.btn-st:hover {

}
.reserve-content-text-box {
  /* border : 1px solid red; */
  overflow: auto;
  /* height: 84px; */
}

.reserve-container {
  border: 1px solid #ddd;
  /* box-shadow: 0 2px 4px 0 #eee, 0 3px 5px 0 #eee; */
  border-radius: 10px;
  display: flex;
  /* margin: 2% 10%; */
  width: 100%;
  /* margin-bottom: 30px; */
  height: 100px;
}

.reserve-container22 {
  border: 1px solid #ddd;
  /* box-shadow: 0 2px 4px 0 #eee, 0 3px 5px 0 #eee; */
  border-radius: 10px;
  display: flex;
  /* margin: 2% 10%; */
  width: 100%;
  /* margin-bottom: 30px; */
  height: 120px;
}


.reserve-img {
  /* margin: 20px; */
  /* width: 40%;
  height: 80%; */
  position: relative;
}

.reserve-img > img {
  border: 1px solid #ddd;
  width: 100%;
  height: 100px;
  object-fit: cover;
  /* border-radius: 10px; */

}

.reserve-content{

  width: 100%;
  /* margin: 30px 20px; */
  padding: 15px;


}
.reserve-content-text {
  font-size: 17px;
}
.reserve-content-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  align-items: baseline;
}




.management-table {
  width: 100%;
  /* border: 1px solid #ddd; */
  border-collapse: collapse;
  font-size: 15px;


}

.management-table thead {
  /* background: linear-gradient(360deg, rgb(230 230 230) 0%, #f4f4f5 100%); */
  background: #e7eaef69;
  box-shadow: unset;
  color: #38414a;
  border-top: 2px solid #38414a;
  border-bottom: 2px solid #ddd;

}



.management-table th,
.management-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  border-right: 1px solid #ddd;
}

.management-table th:last-child,
.management-table td:last-child {
  border-right: none;
  /* color : red; */
}


.management-table th {
  font-weight: bold;
}



th:nth-child(1), td:nth-child(1) {
  width: 3%; /* No 열 너비를 10%로 고정 */
}

th:nth-child(2), td:nth-child(2) {
  width: 13%; /* 이미지 열 너비를 20%로 고정 */
}

th:nth-child(3), td:nth-child(3) {
  width: 20%; /* 상품정보 열 너비를 30%로 고정 */
}

th:nth-child(4), td:nth-child(4) {
  width: 3%; /* 상품수정 열 너비를 20%로 고정 */
}

th:nth-child(5), td:nth-child(5) {
  width: 3%; /* 슬롯관리 열 너비를 20%로 고정 */
}