.admin-store-info-container{
    margin: 10px;
}

/* 섹션 컨테이너 스타일 */
.section-container {
    margin-bottom: 40px;
    padding: 20px;
    font-size: 16px;
    /* border: 1px solid #ddd; */
    border-top: 2px solid #38414a;
    /* border-radius: 8px; */
    background-color: #e7eaef69;
    box-shadow: 0 2px 4px 0 #eee, 0 3px 5px 0 #eee;
}

.section-container h2 {
/*    margin-bottom: 15px;*/
    font-size: 24px;
    margin: 0;
    color: #000;
    font-weight: bold;
    width: 115px;
}

/* 섹션 내용 스타일 */
.section-content {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 두 열 설정 */
    grid-template-rows: repeat(2, auto); /* 첫 번째 열 2행 */
    grid-gap: 30px;
}

/* 1열 - 3행, 2열 - 2행 */
.section-content > div:nth-child(1) { grid-row: 1; }
.section-content > div:nth-child(2) { grid-row: 2; }
/*.section-content > div:nth-child(3) { grid-row: 3; }*/
.section-content > div:nth-child(3) { grid-row: 1 / span 2; grid-column: 2; }
/*.section-content > div:nth-child(5) { grid-row: 3; grid-column: 2; }*/

.section-title {
    display: flex;
    padding: 15px 0;
}

.header-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  



.media-section {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 15px;
    overflow: auto;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .media-placeholder {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .media-placeholder > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
  }
  
  
  .btn-del2 {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ff000000;
    color: #343434;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .camera-placeholder {
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .camera-icon {
    font-size: 24px;
    color: #ccc;
    width: 100px;
    font-size: 50px;
    color: #2e3133;
    text-align: center;
  }
  

.small-text {
    display: flex;
    align-items: end;
    font-size: 12px;
    color: grey;
}

#storeIntro{
    resize: none;
    height: 325px;
    overflow-y: auto;
}


.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin: 20px 0;
}

input[type="time"], textarea, select, input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

/* sns 스타일 */
.sns-row{
    display: flex;
    margin: 10px;
    gap: 10px;
    align-items: center;
}

.sns-btn {
    display: flex;
    justify-content: space-between;
  
}
.sns-btn > button {
    border: 1px solid #2e3133;
    border-radius: 5px;
}
.sns-row > label { width: 12%; }

/* .sns-row > button { width: 12%; height: 32px; } */

.sns-row > input { width: 72% }

.sns-row > .sns-fix { color: blue; width: 72%; }

.snsDelete-btn { border: none; background-color: #ffffff00; }

/* Radio 버튼 스타일 */
.radio-group label {
    margin-right: 20px;
}

.radio-group input {
    margin-right: 5px;
}

/* 계좌 관리 스타일 */
.account-info {
    display: flex;
    align-items: center;
}

.account-bank {
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 25%;
}

/*사진 관리*/
.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 10px 0;
}

.photo-grid > .photo-item {
    width: 160px;
    height: 140px;
    position: relative;
}
.photo-grid > .photo-item > img { width: 100%; height: 100%;}
.bi-x-circle-fill{
    position: absolute;
    right: 5px;
}


/* 수정 버튼 스타일 */
.btn-box{
    overflow:hidden;
}

.modify-btn {
    border: 1px solid #1d2830;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    background-color: #2e3133;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

.modify-btn:hover {
    /* border: 1px solid #727272;
    color: #727272; */
}

.cancel-btn {
    background-color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    float: left;
}
