.admin-store-info-regist-container {
    padding: 0 20px;
    height: auto;
}

.admin-store-info-regist-container
.noti-text {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    padding: 20px;
    color: #727272;
}


.admin-store-info-regist-container label {
    display: block;
    margin-top: 40px;
    font-weight: bold;
}

.admin-store-info-regist-container textarea,
.admin-store-info-regist-container input[type="text"] {
    width: 97%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-store-info-regist-container .dayoff,
.admin-store-info-regist-container .parking-yn,
.admin-store-info-regist-container .op-hours {
    margin-top: 10px;
    margin-left: 10px;
}

.admin-store-info-regist-container .dayoff {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.admin-store-info-regist-container .dayoff > label{
    display: flex;
    align-items: center;
    font-weight: lighter;
    margin-top: 0px;
}

.admin-store-info-regist-container .dayoff input {
    margin-right: 5px;
}

.admin-store-info-regist-container .parking-yn > label,
.admin-store-info-regist-container .op-hours > label{
    font-weight: lighter;
    margin-top: 10px;
    margin-right: 20px;
}

.account-bank {
    width: 20%;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#account-number {
    padding: 5px;
}

.admin-store-info-regist-container
textarea {
    height: 100px;
    resize: none;
}

.operating-hours, .parking, .sns, account, .photo-upload, .dayoffs, .notification {
    margin-top: 20px;
}

.operating-hours input {
    padding: 0 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-store-info-regist-container
.bi {
    margin: 0px 10px;
}

.admin-store-info-regist-container
.sns input:nth-child(1) {
    width: 80%;
    display: inline-block;
}

.admin-store-info-regist-container
.sns input:nth-child(2) {
    width: 20%;
    display: inline-block;
}

.admin-store-info-regist-container
.sns-box {
    display: flex;
    gap : 2%;
}

.admin-store-info-regist-container
.small-text {
    margin-left: 10px;
    font-size: 12px;
    font-weight: lighter;
    color: gray;
}

.admin-store-info-regist-container
.photo-upload {
    height: auto;
}

/*.admin-store-info-regist-container*/
/*.photo-upload > button {*/
/*    border: none;*/
/*    margin-top: 10px;*/
/*    padding: 3px 15px;*/
/*    font-size: 12px;*/
/*    background-color: #9e9e9e;*/
/*    color: #ffffff;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
/*    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;*/
/*    font-weight: 500;*/
/*}*/

/*.admin-store-info-regist-container*/
/*.photo-upload > button:hover {*/
/*    background-color: #727272;*/
/*    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);*/
/*}*/

/*.admin-store-info-regist-container*/
/*.photo-upload > button:active {*/
/*    transform: translateY(2px);*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
/*}*/

.admin-store-info-regist-container
.photo-upload .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10px;
    height: auto;
}

.admin-store-info-regist-container
.photo-upload .photo-item {
    border: 1px solid #ccc;
    position: relative;
    width: 100%;
    height: 150px;
}

.admin-store-info-regist-container
.photo-upload .photo-item img {
    width: 100%; height: 100%;
    object-fit: cover;
}

.admin-store-info-regist-container
.bi-x-circle-fill {
    position: absolute;
    top: 5px;
    right: -10px;
    color: #727272; /* 약간 어두운 글씨 */
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 15px;
}

.custom-file-upload {
    border: none;
    margin-top: 10px;
    padding: 3px 15px;
    width: 10%;
    font-size: 12px;
    background-color: #9e9e9e;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    font-weight: 500;
    text-align: center;
}

.custom-file-upload:hover {
    background-color: #727272;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.custom-file-upload:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* .submit-btn {
    display: block;
    width: 20%; height: 37px;
    margin: 30px auto;
    padding: 5px;
    background-color: white;
    color: #727272;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    border: 1.5px solid #727272;
} */



