@font-face {
font-family: 'ghanachoco';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
font-weight: normal;
font-style: normal;
}


.admin-termsofuse-container
.container {
    background-color: white;
    width: 95%;
    padding: 20px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
}

.admin-termsofuse-container
.terms-section, .privacy-section {
    margin-bottom: 20px;
}


.admin-termsofuse-container
input[type="checkbox"] {
    margin-right: 10px;
}

.admin-termsofuse-container
.admin-termsofuse-container label {
    font-weight: bold;
    margin-bottom: 10px;
    /* display: block; */
}

.admin-termsofuse-container
textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    resize: none;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
}

#gohome{
    color: #999;
    font-family: 'ghanachoco';
    text-decoration: none;
}