<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>페이지 이름</title>
  <link rel="stylesheet" th:href="@{/css/userLayoutNoNav.css}"/>

  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=f2ab75dd984a8c54de2057619973c70a&libraries=services"></script>
</head>

<body>
<div class="user-main-container-no-nav">
  <div class="top-bar">
    <button class="back-button" onclick="history.back()">
      <i class="bi bi-chevron-left" onclick="handleGoBack()"></i>
    </button>
    <span class="page-title" th:text="${pageTitle}">페이지 제목</span>
  </div>


  <div id="root"></div>
</div>

<script>
  function handleGoBack() {
    if (window.history.length > 1) {
      window.history.back();
    } else {
      window.location.href = '/userMain.user';
    }
  }
</script>

<script th:src="@{'/bundle/' + ${pageName} + '.bundle.js'}"></script>
</body>
</html>
