<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>페이지 이름</title>
  <link rel="stylesheet" th:href="@{/css/userLayoutNoNav.css}"/>

  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=f2ab75dd984a8c54de2057619973c70a&libraries=services"></script>
</head>

<body>
<div class="user-main-container-no-nav">
  <div class="back-button">
    <i class="bi bi-chevron-left" onclick="handleGoBack()"></i>
  </div>

  <div id="root"></div>
</div>

<script>
  /*일단 이렇게 두고 권한 설정하면 그에 맞는 조건도 추가해야 할듯*/
  function handleGoBack() {
    window.history.back();
  }
</script>

<script th:src="@{'/bundle/' + ${pageName} + '.bundle.js'}"></script>
</body>
</html>
