.user-content-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: none;
  margin: 10px;
  border: none;
}

.user-content-container:first-child {
  margin-top: 40px;
}

.payment-info-top {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* ------------------ 입금 정보 ------------------ */
/* 입금기한 */
.deposit-date {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.account-left {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}

.account-right {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: right;
}

/* 계좌 복사 버튼 */
.account-number-copy-btn {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.account-number-copy-btn .bi-copy {
  font-size: 15px;
}

.account-number-copy-btn:active {
  background-color: #ccc;
}

/* ------------------ 결제 정보 ------------------ */
.payment-left {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
  flex: 1;
}

.payment-right {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: right;
  flex: 1;
}

.payment-right a {
  color: #000;
}


.reservation-date {
  font-size: 16px;
  margin-bottom: 15px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.info-row .left {
  text-align: left;
  flex: 1;
}

.info-row .right {
  text-align: right;
  flex: 1;
}

.info-row .bi {
  color: #fd8517;
}


/* 결제 정보 */
.payment-info {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  /* 양쪽 끝에 배치 */
  margin: 10px 0;
  /* 각 줄 사이에 여백 추가 */
}

.info-row1 {
  margin-left: 5px;
}

.info-row2 {
  margin-left: 12px;
}

.left {
  text-align: left;
  /* 왼쪽 정렬 */
  flex: 1;
  /* 남은 공간 차지 */
}

.right {
  text-align: right;
  /* 오른쪽 정렬 */
  flex: 1;
  /* 남은 공간 차지 */
}

hr {
  border: none;
  height: 8px;
  background-color: #F5F5F5;
  width: 100%;
}

.reservation-cancel-btn {
  width: 100%;
  padding: 10px;
  background-color: #B0B0B0;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


.user-top-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* text-align: center; */
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  /* position: sticky;
  top: 0;
  background-color: white;
  z-index: 100; */
}




/* 상단 버튼 디자인 */
.user-top-btns {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.user-top-btns>button {
  height: 30px;
  width: 50px;
  font-size: 25px;
  background-color: #fff;
  border: none;

}