.user-payment-info-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 2px solid #2C348F;
}

.payment-info-top {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* ------------------ 입금 정보 ------------------ */
/* 입금기한 */
.deposit-date {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.account-left {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
  flex: 1;
}

.account-right {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: right;
  flex: 1;
}

/* 계좌 복사 버튼 */
.account-number-copy-btn {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.account-number-copy-btn .bi-copy {
  font-size: 15px;
}

/* ------------------ 결제 정보 ------------------ */
.payment-left {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
  flex: 1;
}

.payment-right {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: right;
  flex: 1;
}

.payment-right a {
  color: #000;
}


.reservation-date {
  font-size: 16px;
  margin-bottom: 15px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.info-row .left {
  text-align: left;
  flex: 1;
}

.info-row .right {
  text-align: right;
  flex: 1;
}