h3 {
  color: #333;
  padding-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #1d2830;
  color: white;
}

tr:hover {
  background-color: #e0e0e0;
}

p {
  font-size: 16px;
  color: #555;
}


/* 비활성화 버튼 */
.deactivate-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.deactivate-button:hover {
  background-color: #e60000;
}

.deactivate-button:active {
  background-color: #c70000;
}

/* 상세보기 버튼 */
.details-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.details-button:hover {
  background-color: #0056b3;
}

.details-button:active {
  background-color: #004085;
}


/* 검색바 */
.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.search-bar button {
  padding: 10px 15px;
  background-color: #a9a9a9;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8px;
}

.search-bar button:hover {
  background-color: #888888;
}

.search-bar button:focus {
  outline: none;
}


