h3 {
  color: #333;
  padding-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #1d2830;
  color: white;
}

tr:hover {
  background-color: #e0e0e0;
}

p {
  font-size: 16px;
  color: #555;
}


/* 비활성화 버튼 */
.deactivate-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.deactivate-button:hover {
  background-color: #e60000;
}

.deactivate-button:active {
  background-color: #c70000;
}

/* 상세보기 버튼 */
.details-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.details-button:hover {
  background-color: #0056b3;
}

.details-button:active {
  background-color: #004085;
}
