.header-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 20px;
}

h3 {
  margin: 0; 
}

/* 셀렉트 필터 */
.store-filter-container {
  display: flex;
  align-items: center;
}

.store-filter-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none; /* 포커스 시 경계선 제거 */
}

/* 테이블 */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #1d2830;
  color: white;
}

tr:hover {
  background-color: #e0e0e0;
}

p {
  font-size: 16px;
  color: #555;
}

/* 승인, 활성화 버튼 */
.activate-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.activate-button:hover {
  background-color: #45a049;
}

.activate-button:active {
  background-color: #388e3c;
}
