<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.HiMade.user.mapper.UserChatRoomMapper">
    <insert id="insertChat">
        INSERT INTO chat (chat_message, send_time, store_id, user_id, store_no, sender_type)
        VALUES (#{chatMessage}, #{sendTime}, #{storeId}, #{userId}, #{storeNo}, #{senderType})
    </insert>

    <select id="selectChat" resultType="com.example.HiMade.user.dto.UserChatDTO">
        SELECT chat_no, chat_message, send_time, store_id, user_id, store_no, sender_type
        FROM chat
        WHERE user_id = #{userId} AND store_id = #{storeId}
        ORDER BY send_time ASC
    </select>
</mapper>