<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.HiMade.user.mapper.UserStoreMapper">

<select id="getStoreMainCategory" resultType="com.example.HiMade.user.dto.UserCateDTO">
    select *
    from category c
    left join category_image ci
    on c.category_id = ci.category_id
    where category_level = 1
    AND store_id = 'bbb123';
</select>

</mapper>
