/* 상단바 스타일 */
.user-main-header-fix {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    top: 0;
}

.search-top {
    overflow: hidden;
    padding: 15px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left > img {
    width: 35px;
    margin-right: 10px;
}

.search-top .left {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.search-top .right {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.search-top .right .bi-heart-fill {
    color: #ff4d4d;
}

/* 검색바 스타일 */
.search-bar {
    margin: 10px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    padding: 8px;
    align-items: center;
    position: relative;
    background-color: #eee;
}

.search-bar > input {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #eee;
}

.search-btn {
    border: none;
    cursor: pointer;
    font-size: 15px;
    background: #eeeeee;
    padding: 0;
}

.search-bar .bi {
    font-size: 15px;
    color: #777;
}

/* 채팅 목록 컨테이너 */
.user-chat-container {
    background-color: white;
    padding-top: 70px; /* 상단바 아래에 위치 */
}

/* 채팅 목록 헤더 */
.user-chat-header {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* 검색 결과 없을 때 스타일 */
.no-results {
    text-align: center;
    color: gray;
    margin: 20px;
}

/* 채팅 항목 목록 */
.inquiry-list {
    list-style: none;
    padding: 0px 0px;
    margin: 50px 0px;
}

.inquiry-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    padding: 0px 10px;
    cursor: pointer;
    touch-action: pan-x;
    user-select: none;
    margin: 18px 10px;
}

.inquiry-item:hover {
    border-color: #bbb;
}

.inquiry-item img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.inquiry-content {
    flex-grow: 1;
}

.inquiry-title {
    font-size: 16px;
    font-weight: bold;
    margin: 1px;
}

.chat-preview {
    font-size: 14px;
    color: #000;
    margin: 7px 0 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inquiry-time {
    font-size: 12px;
    color: gray;
    text-align: right;
    margin-top: 5px;
}

.new-message-dot {
    color: red;
    font-size: 10px;
    margin-left: 5px;
    vertical-align: middle;
}

.no-results {
    text-align: center;
    color: gray;
    margin-top: 50%;
    padding-bottom: 20px; /* 버튼 여유 공간 추가 */
}

.login-button {
    display: inline-block;
    margin-top: 10px; /* '채팅 내역이 없습니다' 아래 간격 */
    padding: 10px 20px;
    background-color: #fd8517;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}